.home-page {
  height: 20em;
  display: flex;
  flex-direction: row;
  align-items: center;

  .content {
    padding: 3.5em 2.5em;
    width: 100%;
  }

  a {
    text-decoration: none;
    position: relative;
    flex-shrink: 0;
    width: 17em;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: filter .3s ease-in;
    }



    .arrow-right {
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -1.375em;
      width: 2.75em;
      height: 2.75em;
      background: rgba(0, 0, 0, 0.75);
      color: #ffffff;
      text-align: center;
      line-height: 2.75em;
      font-size: 1.5em;
      z-index: 1;
      transition: width .15s ease-in-out, padding-right .15s ease-in-out;

      &::before {
        position: relative;
        top: 0.125em;
        color: #fff;
        content: '\25ba';
      }

      span {
        display: none;
        text-indent: -9999px;
      }
    }

    &:hover img {
      filter: blur(3px);
      transition: filter .3s ease-in;
    }

    &:hover .arrow-right {
      width: 3em;
      transition: width .15s ease-in-out;
    }

    @media screen and (max-width: 980px) {
      height: 25em;
      width: 100%;
    }
  }

  @media screen and (max-width: 980px) {
    flex-direction: column;
    height: auto;
  }
}